<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Welcome </title>
    <link rel ="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container fluid text-center " >
<h1>Welcome to CODEPRISM TECHNOLOGIES PVT. LTD</h1>
<h2><a class="h2" th:href="@{/users}">Manage Users</a></h2>
    <h4><a class ="h4" th:href="@{/users/new}" >Add New User</a></h4>
    <h3><a class="h3" th:href="@{/users/Signup}">SignupUser</a></h3>
    <h4><a class="h4" th:href="@{/users/myprofile}">My Profile </a></h4>
</div>

<footer>
    <p class="_1ak-Y" style="position: relative;padding-bottom:10px;">© 2019 - 2022 <a href="https://codeprism.in/" target="_blank" rel="noopener noreferrer">CODEPRISM TECHNOLOGIES</a>. All rights reserved. <a href="https://codeprism.in/" target="_blank" rel="noopener noreferrer">Cookie policy</a>, <a href="https://codeprism.in/" target="_blank" rel="noopener noreferrer">Privacy</a> and <a href="https://codeprism.in/" target="_blank" rel="noopener noreferrer">Terms</a></p>
    </footer>
</body>



</html>